    .btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 550;
  }
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #555;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: rgb(232, 226, 226);
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 15px;
  }
  .btn-flip:before {
    top: 0;
    left: 0;
    color: white;
    display: block;
    padding: 0 10px;
    line-height: 30px;
    transition: 0.5s;
    position: relative;
    background: transparent;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border: 3px solid white;
    border-radius: 15px;
  }